/* Webfont: Regime-Regular */@font-face {
    font-family: 'Regime';
    src: url('regime.eot'); /* IE9 Compat Modes */
    src: url('regime.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('regime.woff') format('woff'), /* Modern Browsers */
         url('regime.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

