/* Webfont: Barudaks */@font-face {
    font-family: 'Barudaks';
    src: url('Barudaks.woff2') format('woff2'), /* Modern Browsers */
         url('Barudaks.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

